# OS junk
.DS_Store
Thumbs.db

# Blender
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5

# Databases/caches
*.db
*.log
*.pdb
*.digestcache

# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
